<div ng-controller="WhatsPopularController">
<div class="row">
    <button class="btn" ng-click="refresh()">Refresh</button>
</div>

<div class="row">
    <form ng-submit="submit()">
        Enter text and hit enter:
        <input type="text" name="text" ng-model="input_text" />
        <input type="submit" id="submit" value="Submit" />
    </form>
</div>

<div class="row" ng-show="feed">
    <div class="col-md-3" ng-repeat="image in feed">
        <div class="image-wrapper">
            <a href="http://www.instagram.com/{{image.user.username}}"><img src="{{image.images.low_resolution.url}}" /> </a>
        </div>
    </div>
</div>

</div>